@use './styles/typography';

:root {
  --brand-color: #2320a5;
  --accent-color: #fd767a;

  --background-primary-color: #ffffff;
  --background-secondary-color: #e5e5e5;
  --background-tertiary-color: #f2f1fa;

  --text-primary-color: #57575f;
  --text-primary-invert-color: #fbfbfe;
  --text-secondary-color: #a9a2d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-primary);
  color: var(--text-primary-color);
  background-color: var(--background-tertiary-color);
}
